.DS_Store
*.pyc
*.egg-info
*.swp
tags
doppio/docs/current
node_modules/

doppio/docs/current
doppio/public/vision
doppio/www/vision.html
doppio/public/css/email.css
vision/tailwind.theme.json
vision/dist/assets